body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}

.filter {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 30px;
}

.filter-content {
  border: 2px solid #ccc; /* Рамка вокруг всех элементов */
  padding: 10px;
  border-radius: 8px; /* Скругление углов рамки */
  margin-bottom: 10px; /* Отступ снизу для кнопки */
}

 .filter-content label,
.filter-content input,
.filter-content select {
  
  margin-right: 10px;
} 

.filter-button button {
  padding: 10px 15px;
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста на кнопке */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.filter-button button:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.filter-content {
    border: 2px solid #ccc; /* Рамка вокруг всех элементов */
    padding: 10px;
    border-radius: 8px; /* Скругление углов рамки */
    margin-bottom: 10px; /* Отступ снизу для кнопки */
}

.filter-button button {
    padding: 10px 15px;
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 30px;
}

.filter-button button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.filter-content {
  border: 2px solid #ccc; /* Рамка вокруг всех элементов */
  padding: 10px;
  border-radius: 8px; /* Скругление углов рамки */
  margin-bottom: 10px; /* Отступ снизу для кнопки */
}


.filter-button button {
  padding: 10px 15px;
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста на кнопке */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button button:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.delete-btn {
  padding: 10px 15px;
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста на кнопке */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn button:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

