/* Подключаем дополнительные файлы стилей */
@import url('card.css');


/* Ваши собственные стили */
body {
    font-family: Arial, sans-serif;
    color: blueviolet;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
